input,
textarea,
select {
  @include regularize-form();
  border: 1px solid $form-border-color;
}

input,
textarea {
  width: 100%;
}
form {
  max-width: $form-input-max-width;
}

.field,
.button-groups {
  margin: .5rem;
  
  .label {
    margin: 1rem 0;
    font-size: 16px;
  }

  .control {
    margin: 1rem 0;
  }
}

.button-groups {
  display: flex;
  justify-content: flex-end;
}