.messages {
  display: flex;
  flex-direction: column;
  padding: .5rem;
}

.message {
  border-radius: $form-element-radius;
  padding: 0.5rem;
  @include message($color-primary);

  &.error {
    @include message($color-danger);
  }

  &.warning {
    @include message($color-warning);
  }
}