.container {
margin: 0 auto;
position: relative;
  @include from($desktop) {
    max-width: $desktop - (2 * $gap);
    width: $desktop - (2 * $gap);
    &.is-fluid {
      margin-left: $gap;
      margin-right: $gap;
      max-width: none;
      width: auto;
    }
  }  
  @include until($widescreen) {
    &.is-widescreen {
      max-width: $widescreen - (2 * $gap);
      width: auto;
    }
  }
  @include until($fullhd) {
    &.is-fullhd {
      max-width: $fullhd - (2 * $gap);
      width: auto;
    }
  } 
  @include from($widescreen) {
    max-width: $widescreen - (2 * $gap);
    width: $widescreen - (2 * $gap);
  }
  @include from($fullhd) {
    max-width: $fullhd - (2 * $gap);
    width: $fullhd - (2 * $gap);
  }
}

.stellar-application {
  display: flex;
  flex-wrap: wrap;

  .sidebar {
    width: 60px;
    background: white;
    height: 100%;
    min-height: 100vh;
  }

  .main-content {
    width: calc( 100% - 80px );
    flex-grow: 1;
    padding: 1rem
  }

  .page-wrapper {
    padding: 1rem;
    min-height: calc( 100vh - 2rem );
  }

  .page-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem 0;
    background-color: white;
    padding: 1rem;
  }

  .page-content {
    background-color: white;
    padding: 1rem;
  }
}