.sidebar {
  &__header {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    height: 50px;
    line-height: 50px;
    text-align: center;

    &::after {
      position: absolute;
      height: 1px;
      width: 100%;
      background: $color-primary;
      left: 0;
      bottom: 0;
      content: '';
    }
  }

  &__item {
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &:hover {
      background-color: transparentize($color-primary, 0.8)
    }

    .is-active {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 40px;
        background-color: $color-primary;
        left: 10px;
        bottom: 0px;
      }
    }
  }
}