$color-primary: #0079BF;
$color-primary-emphasize: #026AA7;
$color-danger:  #EB5A46;
$color-danger-emphasize: #CF513D;
$color-safe: #61BD4F;
$color-safe-emphasize: #CF513D;
$color-warning: #F2D600;
$color-warning-emphasize: #E6C60D;
$blurness: 0.5;
$density: 0.5;