$font-family-normal: -apple-system,BlinkMacSystemFont, 'Open Sans', sans-serif;
$font-family-alt: -apple-system,BlinkMacSystemFont, 'Lato', Helvetica,Tahoma,sans-serif;
$font-size-normal: 1rem;
$font-color-primary: #333;
